:host {
  .btn-link {
    padding: 15px 20px;
    margin: 40px auto;
    background: darkslategrey;
    color: #fff;
    display: block;
    font-size: 17px;
    text-decoration: none;
    border-radius: 4px;
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
  }
}
